<div class="leftSide">
  <img class="topLeftIcon" ng-src="/images/websiteicon.png" height="75" width="75"/>
  <p class="leftTitle" >Mean or nice?</p>
  <p class="leftSubtitle">Gage the sentiment of Twitter users using machine learning</p>

  <img class="twitterLine" ng-src="/images/twitterLine.png" height="302" width="400"/>

</div>


<div class="rightSide">
  <div class="centeredStuff getIn" ng-if="formShow">
    <h1 class="rightTitle">Enter a Twitter username</h1>


    <form>
        <div class="group">
          <input type="text" ng-model="userName" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <p class="rightSubtitle">@HillaryClinton, @realDonaldTrump, @DalaiLama, or yours!</p>
          <label>Username</label>
        </div>
    </form>
    <button type="submit" ng-click="sendToTwit(userName)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
       submit
    </button>
  </div>


<!-- Loading ticker -->

  <div ng-if="bool" class="getIn">
    <div class="loader">
      <div class="loader--dot"></div>
      <div class="loader--dot"></div>
      <div class="loader--dot"></div>
      <div class="loader--dot"></div>
      <div class="loader--dot"></div>
      <div class="loader--dot"></div>
      <div class="loader--text"></div>
    </div>
  </div>


<!-- PART 2: The result page shows -->
  <div class="theResult getIn" ng-show="result">
    <img class="twitterImage" ng-src="{{ profileUrl }}" />

    <div class="resultsData">
      <p><span class="resultsOuter">Polarity: ({{ result.data.documentSentiment.polarity }})</span></p>
      <p><span class="resultsOuter">Magnitude: ({{ result.data.documentSentiment.magnitude }})</span></p>
    </div>

    <button type="submit" ng-click="formShow=true; result=false; userName='';" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent tryAnother">
     Try another
    </button>

  </div>

  <!-- <div class="box transform" ng-class="addThisGuy">
  </div> -->
<!--
  <div ng-if="bool" class="getIn">
     <h1>Fade me in out</h1>
  </div>
  <button ng-click="bool=true">Fade In!</button>
  <button ng-click="bool=false">Fade Out!</button>
 -->
  <!-- <div>
    <form novalidate class="simple-form">
      CONTENT: <input type="text" ng-model="content" /><br />
      <input type="submit" ng-click="sendToGoog(content)" value="Save" />
    </form>
  </div> -->
</div>



